/* UNIVERSAL STYLES */
body {
	background: url(../Images/vintage-pecan-free-stretch-blog-background-cream.jpg);
}

.brand-logo {
    font-family: 'Vollkorn', serif;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 2px;
}

/*  INDEX STYLES */

.addCustomerStyle {
    float: right; 
}

#addCustomer {
	margin-bottom: 5px;
}

#customer-row {
	margin-top: 10px;

}

/* MAP STYLES */

#map {
    margin-top: 60px;
    height: 450px;
    width:90%;
    margin: 0 auto;
    margin-top: 50px;
    border: 5px solid green;
    border-radius: 3px;
      }

/* CALENDAR STYLES */

.cal-day{
	max-height: 300px;
	min-height: 300px;
}


.next-seven{
	max-height: 300px;
	min-height: 300px;
}
